[Unit]
Description=Flask app service
After=network.target

[Service]
Working Directory=/home/rusupov/Course-2
ExecStart=/home/rusupov/Course-2/env/bin/python app.py

[Install]
WantedBy=multi-user.target
